{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Blog</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      <link rel="stylesheet" href="style.css">
    />
  </head>
  <body class="bg-dark">
    <div class="col-md-4 offset-md-4">
      {{error}}

      <!-- Create Form -->
      <form
        action="/update/{{posts.id}}"
        method="POST"
        class="card card-body mb-2"
      >
        {% csrf_token %}

        <label for="fullName">Full Name:</label>
        <input
          required
          type="text"
          name="fullName"
          id="fullname"
          value="{{ posts.fullName }}"
          class="form-control mb-2"
          autofocus
        />

        <label for="date">Date:</label>
        <input
          required
          name="date"
          type="date"
          id="date"
          value="{{ posts.date }}"
          rows="2"
          class="form-control mb-2"
        ></input>

        <label for="fullUrl" required>Picture Url:</label>
        <input
          required              
          type="url"
          name="fullUrl"
          value="{{ posts.fullUrl }}"
          class="form-control mb-2"
          autofocus
        />

        <label for="comment">Comment:</label>
        <input
          required
          name="comment"
          id="comment"
          type="textarea"
          rows="2"
          value="{{ posts.comment }}"
          class="form-control mb-2"
        ></input>
        <button class="btn btn-primary">Update</button>
      </form>

    </div>
  </body>
</html>
